In [1]:
!mkdir data/self_driving_cars_coco
!mkdir data/self_driving_cars_coco/images
!mkdir data/self_driving_cars_coco/images/train
!mkdir data/self_driving_cars_coco/images/val
!mkdir data/self_driving_cars_coco/labels
!mkdir data/self_driving_cars_coco/labels/train
!mkdir data/self_driving_cars_coco/labels/val

In [2]:
import os
import json
from glob import glob

from tqdm import tqdm
import pandas as pd
import cv2

In [3]:
train_df = pd.read_csv('data/self_driving_cars_dataset/labels_train.csv')
train_df

                          frame  xmin  xmax  ymin  ymax  class_id
0       1478019952686311006.jpg   237   251   143   155         1
1       1478019952686311006.jpg   437   454   120   186         3
2       1478019953180167674.jpg   218   231   146   158         1
3       1478019953689774621.jpg   171   182   141   154         2
4       1478019953689774621.jpg   179   191   144   155         1
...                         ...   ...   ...   ...   ...       ...
132401  1479506176491553178.jpg   166   186   139   156         1
132402  1479506176491553178.jpg   182   204   142   153         1
132403  1479506176491553178.jpg   239   261   139   155         1
132404  1479506176491553178.jpg   259   280   139   157         1
132405  1479506176491553178.jpg   284   324   137   168         1

[132406 rows x 6 columns]

In [4]:
train_group_df = train_df.groupby('frame').agg({
    'xmin': list, 'xmax': list, 'ymin': list, 'ymax': list, 'class_id': list
}).reset_index()
train_group_df

,frame,xmin,xmax,ymin,ymax,class_id
0,1478019952686311006.jpg,"[237, 437]","[251, 454]","[143, 120]","[155, 186]","[1, 3]"
1,1478019953180167674.jpg,[218],[231],[146],[158],[1]
2,1478019953689774621.jpg,"[171, 179, 206, 385, 411]","[182, 191, 220, 420, 462]","[141, 144, 145, 122, 124]","[154, 155, 156, 152, 148]","[2, 1, 1, 1, 1]"
3,1478019954186238236.jpg,"[165, 171, 200, 362, 433]","[177, 182, 214, 430, 479]","[140, 144, 145, 118, 124]","[154, 157, 157, 149, 148]","[2, 1, 1, 1, 1]"
4,1478019954685370994.jpg,"[160, 165, 194, 373]","[173, 177, 207, 457]","[140, 144, 144, 118]","[153, 156, 156, 152]","[2, 1, 1, 1]"
...,...,...,...,...,...,...
17995,1479506173475582156.jpg,"[92, 124, 139, 190, 205, 217, 245, 284, 318, 359]","[131, 139, 157, 204, 218, 234, 274, 341, 378, ...","[144, 145, 145, 144, 144, 144, 141, 139, 145, ...","[172, 167, 157, 154, 155, 158, 165, 175, 184, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
17996,1479506173994033498.jpg,"[73, 115, 148, 158, 159, 203, 217, 231, 263, 3...","[124, 138, 163, 171, 169, 216, 234, 250, 298, ...","[142, 142, 143, 141, 143, 142, 142, 141, 139, ...","[180, 167, 155, 152, 153, 152, 153, 155, 166, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
17997,1479506174991516375.jpg,"[0, 48, 155, 171, 173, 226, 242, 257, 306, 453]","[62, 110, 175, 181, 187, 242, 259, 280, 363, 478]","[143, 145, 146, 146, 143, 144, 143, 142, 137, ...","[214, 194, 161, 158, 157, 154, 156, 162, 179, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
17998,1479506175971257681.jpg,"[144, 164, 174, 239, 255, 277, 385]","[169, 180, 190, 257, 276, 308, 479]","[143, 143, 140, 141, 139, 138, 128]","[164, 158, 155, 153, 156, 164, 210]","[1, 1, 1, 1, 1, 1, 1]"
17999,1479506176491553178.jpg,"[108, 125, 152, 166, 182, 239, 259, 284]","[133, 161, 174, 186, 204, 261, 280, 324]","[137, 142, 143, 139, 142, 139, 139, 137]","[147, 168, 161, 156, 153, 155, 157, 168]","[1, 1, 1, 1, 1, 1, 1, 1]"

In [5]:
for image_name in tqdm(train_group_df.frame.to_list()):
    os.system(f'cp data/self_driving_cars_dataset/images/{image_name} data/self_driving_cars_coco/images/train/')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18000/18000 [00:46<00:00, 389.84it/s]

In [6]:
val_df = pd.read_csv('data/self_driving_cars_dataset/labels_val.csv')
val_df

                         frame  xmin  xmax  ymin  ymax  class_id
0      1478899046136829030.jpg   201   206   129   135         5
1      1478899046136829030.jpg   203   210   150   158         1
2      1478899046136829030.jpg   215   219   130   135         5
3      1478899046136829030.jpg   222   234   145   162         1
4      1478899046136829030.jpg   223   235   149   160         1
...                        ...   ...   ...   ...   ...       ...
32694  1479498536475329921.jpg   337   350   136   150         1
32695  1479498536475329921.jpg   360   441   117   147         2
32696  1479498536475329921.jpg   365   385   136   147         1
32697  1479498536475329921.jpg   398   432   134   144         1
32698  1479498536475329921.jpg   453   479   128   160         1

[32699 rows x 6 columns]

In [7]:
val_group_df = val_df.groupby('frame').agg({
    'xmin': list, 'xmax': list, 'ymin': list, 'ymax': list, 'class_id': list
}).reset_index()
val_group_df

,frame,xmin,xmax,ymin,ymax,class_id
0,1478899046136829030.jpg,"[201, 203, 215, 222, 223, 236]","[206, 210, 219, 234, 235, 262]","[129, 150, 130, 145, 149, 145]","[135, 158, 135, 162, 160, 168]","[5, 1, 5, 1, 1, 1]"
1,1478899046707290405.jpg,"[202, 205, 217, 224, 224, 240]","[207, 213, 221, 236, 237, 266]","[130, 152, 130, 151, 148, 148]","[136, 159, 137, 162, 165, 171]","[5, 1, 5, 1, 1, 1]"
2,1478899047280067376.jpg,"[93, 199, 202, 216, 222, 223, 238]","[104, 204, 211, 220, 237, 235, 265]","[157, 128, 151, 128, 148, 150, 147]","[163, 134, 158, 135, 164, 161, 170]","[1, 5, 1, 5, 1, 1, 1]"
3,1478899047851282737.jpg,"[51, 68, 86, 198, 204, 216, 220, 222, 223, 239...","[87, 87, 97, 203, 212, 220, 224, 237, 235, 267...","[146, 156, 156, 123, 147, 124, 147, 145, 149, ...","[162, 164, 162, 132, 154, 131, 156, 162, 159, ...","[2, 1, 1, 5, 1, 5, 1, 1, 1, 1, 5]"
4,1478899048421712071.jpg,"[12, 22, 56, 77, 199, 207, 219, 221, 222, 224,...","[42, 78, 78, 87, 204, 215, 222, 227, 237, 236,...","[165, 151, 162, 162, 125, 150, 126, 152, 151, ...","[174, 167, 170, 169, 134, 157, 134, 160, 167, ...","[1, 2, 1, 1, 5, 1, 5, 1, 1, 1, 1, 5]"
...,...,...,...,...,...,...
4236,1479498533473934549.jpg,"[0, 66, 115, 151, 172, 358, 367, 449]","[83, 121, 182, 210, 356, 436, 400, 479]","[132, 130, 130, 92, 95, 117, 136, 131]","[185, 172, 177, 151, 254, 146, 146, 183]","[1, 1, 1, 2, 1, 2, 1, 1]"
4237,1479498534473765792.jpg,"[0, 68, 117, 152, 176, 361, 368, 454, 466]","[83, 116, 179, 210, 352, 436, 402, 479, 479]","[137, 133, 129, 93, 97, 117, 137, 131, 129]","[183, 170, 177, 152, 257, 146, 148, 160, 176]","[1, 1, 1, 2, 1, 2, 1, 1, 1]"
4238,1479498534974335830.jpg,"[0, 66, 117, 151, 175, 361, 368, 454, 474]","[84, 115, 178, 209, 354, 437, 388, 479, 479]","[137, 133, 129, 91, 96, 120, 137, 131, 136]","[184, 172, 179, 149, 251, 147, 147, 159, 169]","[1, 1, 1, 2, 1, 2, 1, 1, 1]"
4239,1479498535975181660.jpg,"[0, 65, 117, 152, 172, 357, 362, 453]","[82, 120, 181, 211, 354, 438, 400, 479]","[137, 132, 129, 93, 95, 122, 137, 131]","[186, 174, 178, 150, 254, 146, 146, 160]","[1, 1, 1, 2, 1, 2, 1, 1]"
4240,1479498536475329921.jpg,"[0, 65, 116, 152, 174, 337, 360, 365, 398, 453]","[84, 116, 180, 209, 356, 350, 441, 385, 432, 479]","[135, 129, 129, 92, 97, 136, 117, 136, 134, 128]","[184, 173, 178, 147, 253, 150, 147, 147, 144, ...","[1, 1, 1, 2, 1, 1, 2, 1, 1, 1]"

In [8]:
for image_name in tqdm(val_group_df.frame.to_list()):
    os.system(f'cp data/self_driving_cars_dataset/images/{image_name} data/self_driving_cars_coco/images/val/')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4241/4241 [00:10<00:00, 408.08it/s]

In [9]:
def convert_to_coco_label_format(x1, y1, x2, y2, img_w, img_h):
    # Format: relative
    # object_index - x_center - y_center - width - height
    x = (x1 + x2) / 2 / img_w
    y = (y1 + y2) / 2 / img_h
    w = (x2 - x1) / img_w
    h = (y2 - y1) / img_h
    return x, y, w, h

In [10]:
def prepare_coco_label(root, df, _type):
    for _, row in tqdm(df.iterrows()):
        img_label_list = []
        img_path = os.path.join(root, row.frame)
        img = cv2.imread(img_path)
        img_h, img_w = img.shape[0], img.shape[1]
        for xmin, xmax, ymin, ymax, class_id in zip(row.xmin, row.xmax, row.ymin, row.ymax, row.class_id):
            x, y, w, h = convert_to_coco_label_format(xmin, ymin, xmax, ymax, img_w, img_h)
            img_label_list.append(f'{class_id} {x} {y} {w} {h}')

        label_path = img_path.replace(
            'self_driving_cars_dataset/images/', f'self_driving_cars_coco/labels/{_type}/').replace(
            '.jpg', '.txt')
        with open(label_path, 'w') as file:
            file.write('\n'.join(img_label_list))

In [11]:
prepare_coco_label('data/self_driving_cars_dataset/images', train_group_df, 'train')

18000it [00:22, 807.83it/s]

In [12]:
prepare_coco_label('data/self_driving_cars_dataset/images', val_group_df, 'val')

4241it [00:05, 830.64it/s]